:root{
    /* Colors */
    --background: #000000;
    --background_inverted: #ffffff;
    --primary-color: #ffffff;
    --primary-inverted: #000000;
    --blur-background:rgba(0,0,0,.2);
    --font-family: futura-pt, sans-serif;
    --h1: 44px;
    --h2: 28px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;
    --body: 16px;
    --body2: 14px;
    --base-margin: 16px;
    --base-margin_2: 32px;
}
html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
    /* scroll-behavior: smooth; */
  }
body{
    font-family: var(--font-family);
    font-size: var(--body);
    padding: 0;
    line-height: 24px;
    background: var(--background);
    color: var(--primary-color);
    margin: 0%;
    font-weight: normal;
    background: url(images/terral_mov_placeholder.jpg);
    
}
/* 
Typography
*/
h1,h2,h3,h4,h5{
    font-weight: 900;
    letter-spacing: .03em;
}
h1{
    font-size: var(--h1);
    line-height: 120%;
}
h2{
    font-size: var(--h2);
    line-height: 140%;
    font-weight: 500;
}
h3{
    font-size: var(--h3);
    line-height: 120%;
    margin-bottom: 16px;
}
h4{
   font-size: var(--h4); 
   font-weight: 500;
   margin-top: 24px;
}
h5{
   font-size: var(--h5); 
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
#details a{
    color: var(--background);
}
p{
    margin-bottom: 24px;
}
img{
}
span{
}
a{
    
}
strong{
font-weight: 600;
}
ul{
    list-style-type: disc;
    margin-top: 8px;
}
li{
    margin-left: 16px;
    margin-bottom: 8px;
}
section#container{
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  height: 90vh;
  overflow: scroll;
  /* scroll-behavior: smooth; */
}
section#cover{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding:48px;
    scroll-snap-align: start;
    z-index: 1000;
    
}
section#details{
    color: #000000;
    position: sticky; 
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    overflow-y: hidden;
    scroll-snap-align: start;
    z-index: 100000;
    justify-content: flex-start;
}

nav{
    width: 20vw;
    display: flex;
    padding: 48px 24px;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
}
nav h2{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    cursor: pointer;
}
nav ul{
    font-size:var(--h5);
    list-style-type: none;
    margin: 0;
}
nav ul li{
    min-height: 32px;
    margin: 0;
    cursor: pointer;
}

main{
    width: calc(40vw);
    display: block;
    padding: 0px 8vw 0px 8px;
    overflow-y: scroll;
}
main::-webkit-scrollbar {
    display: none;
  }
main h5{
    margin-bottom: 16px;
}
main h2{
    margin-top: 72px;
}
.part{
    padding-top: 48px;
    padding-bottom: 48px;
   
}
.part1{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}
.part1 .intro{
    font-size: 20px;
    line-height: 30px;
}

.part1 .bottom h5{
    margin-bottom: 0;
    font-weight: 600;
}
.part1 p:last-child{
    margin-bottom: 0;
}
.part4{

}
aside{
    display: flex;
    width: 40vw;
    text-align: center;
    padding: 48px 24px 24px 24px;
    position: sticky;
    top: 0;
    border-left: 1px dotted #eee;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(images/hero_image_b.jpg) center top no-repeat;
    background-size: cover;
}
aside img{
    height: auto !important;
    margin-bottom: 48px;
    display: none;
}
button{
    height: 64px;
    width: 200px;
    color: var(--primary-color);
    font-family: futura-pt, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background: #5d656e91;
    position: relative;
}
button a{
    position: absolute;
    top:0;left:0;bottom:0;right:0;
    line-height: 64px;
}
* button{
    font-family: futura-pt, sans-serif !important;
    font-weight: bold;
}
.shopify-buy__btn {
    font-family: futura-pt, sans-serif !important;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ff0000 !important;
    border-radius: 2px;
    padding-left: 60px;
    padding-right: 60px;
}
img.logo{
    width: 100%;
    max-width: 220px;
}
img.stamp{
    position: absolute;
    right: 5vw;
    top: 10vh;
    opacity: .7;
    width: 150px;
    height: auto;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .mobile{
      display: none;
  }
  .desktop{
    display: block;
}

/* 
Sections
*/

/* 
Responsive Styles 
*/
/* Mobile */
@media only screen and (min-width:0px) and (max-width:834px) and (orientation: portrait) {
    :root{
        /* Colors */
        --h1: 32px;
        --h2: 28px;
        --h3: 24px;
        --h4: 20px;
        --h5: 18px;
        --body: 18px;
        --body2: 14px;
        --base-margin: 16px;
        --base-margin_2: 32px;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    img.stamp{
        top: 5vh;
        height: auto;
    }
    section#container{
        z-index: 100000;
    }
    section#details{
        display: block;
        overflow-y: scroll;
    }
    section#details main{
        float: left;
        width: 100%;
        overflow-y: none;
        padding: 0 24px
    }
    .part{
       padding-top: 92px;
    }
    .part1{
        display: block;
        padding-top: 100px;
    }
    .part1 .bottom{
        margin-top: 72px;
    }
    section#details nav #main_menu{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        bottom: 0;
        left:0;
        background: rgba(255,255,255,.1);
        backdrop-filter: blur(72px);
        -webkit-backdrop-filter: blur(72px);
        z-index: 100000;
        text-align: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
        z-index: 1000000000000;
      
    }
    section#details nav #main_menu .close{
        position: fixed;
        top: 0px;
        right: 24px;
    }
    section#details nav .open_menu{
        position: absolute;
        top: 0px;
        right: 24px;
    }
    section#details nav #main_menu .copyright{
        position: fixed;
        bottom: 24px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        width: 100%;
        padding: 0 10vw;
    }
    section#details nav ul li{
        font-size: 32px;
        line-height: 56px;
    }
    section#details aside{
        width: 100%;
        float: right;
        clear: both;
        position: relative;
        border-left: none;
    }
    nav{
        width: 100%;
        height: 72px;
        line-height: 72px;
        padding: 0 24px !important;
        border-right: none;
        z-index: 10;
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        border-bottom: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.9);
        z-index: 100000000000000;
    }
    nav h2{
        height: 72px;
        line-height: 72px;
    }
    aside{
        padding-bottom: 48px;
    }
    aside img{
        margin-bottom: 16px;
    }
}
@media all and (max-height:640px) and (orientation: landscape) {
    section#cover{
        padding: 24px;
    }
    
 }
/* Tablet*/
/* Mobile */
@media only screen and (min-width:768px) and (max-width: 1023px) {
  
}
@media only screen and (min-width:1024px) and (max-width: 1280px) {
    
}
