:root{
    /* Colors */
    --background: #000000;
    --background_inverted: #ffffff;
    --primary-color: #ffffff;
    --primary-inverted: #000000;
    --blur-background:rgba(0,0,0,.2);
    --font-family: 'Inter', Helvetica, Arial,sans-serif;
    --h1: 48px;
    --h2: 34px;
    --h3: 32px;
    --h4: 28px;
    --h5: 24px;
    --body: 20px;
    --body2: 16px;
    --base-margin: 16px;
    --base-margin_2: 32px;
}
body{
    font-family: var(--font-family);
    font-size: var(--body);
    padding: 0;
    line-height: 26px;
    background: var(--background);
}
/* 
Typography
*/
h1,h2,h3,h4,h5{
    font-weight: 900;
}
h1{
    font-size: var(--h1);
    line-height: 120%;
}
h2{
    font-size: var(--h2);
    line-height: 140%;
}
h3{
    font-size: var(--h3);
    line-height: 120%;
}
h4{
   font-size: var(--h4); 
}
h5{
   font-size: var(--h5); 
}
a{
    color: var(--primary-color);
    text-decoration: none;
}
p{
    margin-bottom: 24px;
    max-width: 66%;
}
img{
    width: 100%;
}
span{
    display: block;
    margin: 8px 0 24px 0;
}
li{
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
}
a{
    border-bottom: 2px solid #FEED07;
}
li.soon{
    opacity: .5;
}
/* 
Sections
*/
.wrapper{
    overflow-x: hidden;
}
section{
    display: block;
   
    
}
.container{
    margin:0 auto;
    position: relative;
    padding: 32px;
    max-width: 1440px;
}
#s1{
    background: var(--background_inverted);
    color: var(--primary-inverted);
}
#s1 h2{
    position: absolute;
    bottom: 750px;

}
#s2{
    background: var(--background);
    margin-top:-728px;
    padding:585px 0 0 0;
    color:#fff;
}
#s2 .container p:nth-child(3){
    margin-bottom: 150px;
}
#s3{
    background: var(--background_inverted);
    color: var(--primary);
    margin-top: -850px;
    padding:728px 0 0 0;
}
#s3 p{
    margin-bottom: 72px;
}
#s4{
    background: var(--background);
    color:#fff;
    margin-top:-528px;
    padding:440px 0 0 0;
}
footer{
    margin-top: 72px;
    opacity: .5;
    font-size: 14px;
}
/* 
Images
*/
.heroImage{
    position: relative;
    width: 1280px;
    margin: 0 auto;
    z-index: 100000;
}
img.hero{
    display: block;
    width: 1280px;
    height: auto;
}
img.hero2{
    display: block;
    width: 1280px;
    height: auto;
    z-index: 100000;
    margin:0 auto;
}
img.hero3{
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: auto;
    z-index: 100000;
}
.playBadge{
    position: absolute;
    width: 180px;
    border-bottom: none;
    right: 32px;
    bottom: 180px;
}
#s1 .playBadge{
    bottom: auto;
    top:610px;
}
.playBadge img{
    width: 100%;
    height: auto;
}
/* 
Keyframe Animation
*/
@keyframes breathing{
    0%{
        transform: scale(.6); 
    }
    19.04%{
        transform: scale(1);
    }
    53%{
        transform: scale(1);
    }
    100%{
        transform: scale(.6);
    }
}
/* 
Animation 
*/
.animation{
    display: block;
    position: absolute;
    top: 430px;
    width: 320px;
    height: 320px;
    left: calc(50% - 160px);
    background: var(--background);
}
.animation img.sun{
    width: 100%;
    height: auto;
    animation-fill-mode: forwards;
    animation-name: breathing;
    animation-duration: 19s;
    animation-iteration-count: 4;
    animation-timing-function: ease-in-out;
}
.animation img.lines{
    z-index: 1000;
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
}
/* 
Responsive Styles 
*/
/* Mobile */
@media only screen and (min-width:0px) and (max-width:767px) {
    :root{
        /* Colors */
        --h1: 32px;
        --h2: 28px;
        --h3: 24px;
        --h4: 20px;
        --h5: 18px;
        --body: 18px;
        --body2: 14px;
        --base-margin: 16px;
        --base-margin_2: 32px;
    }
    p{
        max-width: 100%;
    }
    section{
        min-width: 100%;
    }
    .heroImage{
        width: 100%;
        transform: scale(1.8);
        transform-origin: center top;
        margin-top: 24px;
    }
    img.hero{
        width: 100%;
        z-index: 10000;
    }
    img.hero2{
        display: block;
        margin-top: 0;
        width: 100%;
        transform: scale(1.5);
        transform-origin: center top;
    }
    img.hero3{
        display: block;
        margin-top: 0;
        width: 100%;
        transform: scale(1.5);
        transform-origin: center top;

    }
    #s1{
        z-index: 100;
    }
    #s1 h2{
        position: relative;
        top:0;
        margin-top: 16px;
        font-size: 24px;
    }
    #s1 .playBadge{
        top:84px;
        width: 140px;
    }
    #s2{
        margin-top: -22%;
        padding: 56% 0 0 0;
       
    }
    #s2 .container p:nth-child(3){
        margin-bottom: 150px;
    }
    #s3{
        margin-top: -50%;
        padding: 70% 0 0 0;
    }
    #s3 p{
        margin-bottom: 72px;
    }
    #s4{
        margin-top: -25%;
        padding: 35% 0 0 0;
    }
    .animation{
        top: 32%;
        width: 30%;
        left: calc(50% - 15%);
        height: 30vw;
    }
    .animation img.lines {
        bottom: auto;
        width: 100%;
        top: 42%;
    }
    li{
        font-size: 24px;
        line-height: 48px;
        margin-bottom: 0px;
    }
    #s4 .playBadge {
        bottom: 0;
        position: relative;
        display: block;
        width: 180px;
        margin-left: 24px;
        margin-top: 24px;
    }
    footer {
        margin-top: 32px;
    }
}
/* Tablet*/
/* Mobile */
@media only screen and (min-width:768px) and (max-width: 1023px) {
    p{
        max-width: 100%;
    }
    section{
        min-width: 768px;
    }
    .heroImage{
        width: 768px;
    }
    img.hero{
        width: 768px;
    }
    img.hero2{
        width: 768px;
    }
    img.hero3{
        width: 768px;
    }
    #s1 h2 {
        position: absolute;
        bottom: 462px;
    }
    #s1 .playBadge{
        top: 370px;
    }
    #s2{
        margin-top:-450px;
        padding:320px 0 0 0;
    }
    #s2 .container p:nth-child(3){
        margin-bottom: 150px;
    }
    #s3{
        margin-top: -525px;
        padding: 435px 0 0 0;
    }
    #s3 p{
        margin-bottom: 72px;
    }
    #s4{
        margin-top: -332px;
    padding: 270px 0 0 0;
    }
    .animation{
        display: none;
    }
}
@media only screen and (min-width:1024px) and (max-width: 1280px) {
    section{
        min-width: 1024px;
    }
    .heroImage{
        width: 1024px;
    }
    img.hero{
        width: 1024px;
    }
    img.hero2{
        width: 1024px;
    }
    img.hero3{
        width: 1024px;
    }
    .playBadge{

    }
    .playBadge img{

    }
    .animation{
        display: none;
    }
    #s1 h2 {
        bottom: 602px;
    }
    #s1 .playBadge{
        top: 493px;
    }
    #s2{
        margin-top: -588px;
        padding: 465px 0 0 0;
    }
    #s3{
        margin-top: -692px;
        padding: 575px 0 0 0;
    }
    #s4{
        margin-top: -430px;
        padding: 320px 0 0 0;
    }
}
